@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-50: #f4f6fa;
  --color-grey-500: #626c7f;

  --color-blue-50: #ebf0ff;
  --color-blue-100: #edf1f9;
  --color-blue-300: #abc1e1;
  --color-blue-500: #306aff;
  --color-blue-850: #3b4d66;
  --color-blue-900: #313e51;
  --color-blue-950: #2d3949;

  --color-green-100: #e0fdef;
  --color-green-500: #2fd887;

  --color-purple-100: #f6e7ff;
  --color-purple-600: #a729f5;

  --color-orange-50: #fff5ed;
  --color-orange-400: #ff7e35;

  --color-red-500: #ee5454;
}

@utility startMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  @variant md {
    padding: 54px 64px;
  }

  @variant xl {
    padding: 97px 140px;
  }
}

@utility bg-pattern {
  background-image: url("/assets/images/pattern-background-mobile-dark.svg");
  background-repeat: no-repeat;

  @variant md {
    background-image: url("/assets/images/pattern-background-tablet-dark.svg");
  }

  @variant xl {
    background-image: url("/assets/images/pattern-background-desktop-dark.svg");
    background-size: cover;
    background-position: center;
  }
}

@utility mainContent {
  display: flex;
  justify-content: space-between;
  min-height: 72px;
  padding: 16px 24px;

  @variant md {
    padding: 0;
  }
  @variant xl {
    min-height: 127px;
    width: min(1160px, 100%);
    margin: 0 auto;    
  }
}

@utility subjectList {
  display: flex;
  width: 167px;
  min-height: 4px;
  gap: 16px;
}

@utility toggleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 80px;
  min-height: 20px;

  @variant md {
    width: 128px;
    height: 28px;
    gap: 16px;
  }
}

@utility mainContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 32px 24px 0;

  @variant md {
    padding: 0;
    gap: 64px;
    /* padding: 32px 24px; */
  }

  @variant xl {
    flex-direction: row;
    justify-content: center;
    gap: 128px;
  }
}

@utility headerContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 327px;
  min-height: 125px;

  @variant md {
    width: 465px;
    min-height: 182px;
  }
  @variant xl {
    gap: 48px;
  }
}
@utility subjectsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 336px;

  @variant xl {
    width: min(564px, 100%);
    min-height: 464px;
  }
}

@utility subjectItem {
  gap: 16px;
  padding: 16px;
  background-color: var(--color-blue-850);
  filter: drop-shadow(0px 16px 40px rgba(49, 62, 81, 0.14));

  @variant md {
    gap: 32px;
  }
  @variant xl {
    padding: 24px;
  }
}
